<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/create}">
    <h2>Please, do enter your account details</h2>

    <label for="username"> Username: </label>
    <input name="username" type="text" id="username" placeholder="type your username...">
    <br>
    <br>
    <label for="password"> Password: </label>
    <input name="password" type="text" id="password" placeholder="type your password...">
    <br>
    <br>
    <label for="balance"> Balance: </label>
    <input name="balance" type="text" id="balance" placeholder="type your balance...">
    <br>
    <h4>*if balance field would be leaved empty, it's going to be 1.000 by default</h4>
    <br>
    <br>
    <input type="submit" value="CREATE">
</form>

</body>
</html>