<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin profile</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/login}" th:object="${admin}">
    <h2>Admin profile</h2>

    <label for="id"> ID: </label>
    <span th:text="${admin.id}" id="id"></span>
    <br>
    <br>
    <label for="username"> Username: </label>
    <span th:text="${admin.name}" id="username"></span>
    <br>
    <br>
    <label for="balance"> Balance: </label>
    <span th:text="${admin.balance}" id="balance"></span>
    <br>
    <br>

</form>



<!--<a href="allProductsOfCurrentProducer"-->
<!--   th:href="@{/products/productsOfProducer/{id}/0(id=${producer.id})}" > All products </a>-->

</body>
</html>